@model SOAP.EjemplarWSClient.WSEjemplarModel

@{
    ViewBag.Title = "Ejemplar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    @using (Html.BeginForm("save", "Ejemplar", FormMethod.Post)) {
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    @Html.LabelFor(model => model.ISBN, htmlAttributes: new {
                   @class = ""
               })
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(model => model.ISBN, new {
                   htmlAttributes = new {
                       @class = ""
                   }
               })
                </div>
                @Html.ValidationMessageFor(model => model.ISBN, "", new {
               @class = ""
           })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    @Html.LabelFor(model => model.NumPaginas, htmlAttributes: new {
                   @class = ""
               })
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(model => model.NumPaginas, new {
                   htmlAttributes = new {
                       @class = ""
                   }
               })
                </div>
                @Html.ValidationMessageFor(model => model.NumPaginas, "", new {
               @class = ""
           })
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-1">
                    @Html.LabelFor(model => model.FPublicacion, htmlAttributes: new {
                   @class = ""
               })
                </div>
                <div class="col-lg-1">
                    @Html.EditorFor(model => model.FPublicacion, new {
                   htmlAttributes = new {
                       @class = "", placeholder = "dd/MM/yyyy"
                   }
               })
                </div>
                @Html.ValidationMessageFor(model => model.FPublicacion, "", new {
               @class = ""
           })
            </div>
        </div>
    }

</section>

