@model IList<SOAP.EjemplarWSClient.WSEjemplarModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    @if (User.IsInRole("Admin")) {
        <div class="container-fluid">
            @Html.ActionLink("Crear", "createUpdate", new {
           codLibro = ViewBag.codLibro
       }, new {
           @class = "btn btn-success"
       })
        </div>}
    @if (Model.Count() > 0) {
        <div class="container-fluid">
            <div class="row">
                <header><h2>Ejemplares:</h2></header>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
                <h4>ISBN:</h4>
            </div>
            <div class="col-lg-2 text-center">
                <h4>Nª Paginas:</h4>
            </div>
            <div class="col-lg-2">
                <h4>F. Publicacion:</h4>
            </div>
        </div>
    }
    @foreach (var item in Model) {

        <div class="row">
            <div class="col-lg-1">
                @item.ISBN
            </div>
            <div class="col-lg-2 text-center">
                @item.NumPaginas
            </div>
            <div class="col-lg-2">
                @item.FPublicacion
            </div>
            <div class="col-lg-1">
                @Html.ActionLink("Prestar", "", null, htmlAttributes: new {
               @class = "btn btn-success"
           })
            </div>
                <div class="col-lg-1">
                    @Html.ActionLink("Borrar", "delete", "", htmlAttributes: new {
                   @class = "btn btn-danger"
               })
                </div>
            <div class="col-lg-1">
                @Html.ActionLink("Modificar", "createUpdate", "", htmlAttributes: new {
               @class = "btn btn-warning"
           })
            </div>
        </div>
    }
</section>




